<header>
	<div class="container">
		<h1>first template</h1>
	</div>
</header>

<div class="container">
	
	<p class="lead">test</p>
	
	<div class="row">
		<div class="col-sm-4">
			<h2>Header</h2>
			<p><a class="btn btn-default" href="http://allrecipes.com/recipe/banana-pancakes-i/">View Recipe &raquo;</a></p>
		</div>
		
		<div class="col-sm-4">
			<h2>Header</h2>
			</blockquote>
			<p><a class="btn btn-default" href="http://allrecipes.com/recipe/banana-brown-sugar-pancakes">View Recipe &raquo;</a></p>
		</div>
		
		<div class="col-sm-4">
			<h2>Header</h2>
			<p><a class="btn btn-default" href="http://allrecipes.com/recipe/banana-pancakes-ii/">View Recipe &raquo;</a></p>
		</div>
		
	</div>
	
</div>
